@import 'base.css';

#app {
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem;
  height: 100vh;
  font-weight: normal;
  display: flex;
  justify-content: center;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    cursor: pointer;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
